beautifulsoup4
colorama
colorlog
keras
keras_tuner
librosa
matplotlib
nltk
numpy
openai
pandas
pvporcupine
PyAudio
pygame
python-dotenv
pyttsx3
requests
scikit_learn
scipy
simpleaudio
sounddevice
SpeechRecognition
tensorflow
termcolor
torch
tqdm
translate


# pip install -r .\requirements.txt
# pip uninstall -r .\requirements.txt -y