beautifulsoup4
chardet
colorama
faiss_gpu
html2text
keras
keras_tuner
kt_legacy
langchain
librosa
matplotlib
nltk
numpy
openai
opencv_python
pandas
pinecone_client
pvporcupine
PyAudio
pydantic
pygame
python-dotenv
pyttsx3
Requests
scikit_learn
scipy
selenium
selenium_stealth
sounddevice
spacy
SpeechRecognition
streamlit
tensorflow
tensorflow_intel
